# For host project using TractStack integration --->
## these are added via npx create-tractstack

# REQUIRED
PUBLIC_GO_BACKEND=http://localhost:8080
PUBLIC_TENANTID=default
# OPTIONAL: Multi-Tenant Configuration
PUBLIC_ENABLE_MULTI_TENANT=false
